:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, textarea, button {
  font-size: 1.6rem;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-bg-color);
  font-family: 'League Spartan', sans-serif;
}

h1, h2, h3, h4, h5, h6, input {
  font-family: 'Work Sans', sans-serif;
}

strong {
  font-family: 'League Spartan', sans-serif;
}

.wrapper {

  
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.content {
  padding: 5rem 3.6rem;
}

.content > div {
  margin-top: 9.2rem;
  display: flex;
  flex-direction: column;
  gap: .9rem;
}

.content > div > h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--title-color);
}

.content > div > strong, p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

form > label {
  font-size: 1.4rem;
  font-weight: 700;
  color: #a8a8a8;
  line-height: 138%;
}

form > .wrapper-elements {
  z-index: 1;
  display: flex;
  width: 120%;
  height: 4.8rem;
}

form > .wrapper-elements > .input-group {
  background: var(--title-color);
  padding-left: .5rem;
  width: 100%;
} 

form > .wrapper-elements > .input-group > input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
}

form > .wrapper-elements > button {
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background: var(--bg-button-color)
}

.content a.link {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: .8rem;
  color: var(--bg-button-color);
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 138.73%
}


#aside-background {
  height: 100vh;
  background-image: url('../public/read-news.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

@media (max-width: 780px) {
  .logo {
    width: 30rem;
  }

  #aside-background {
    display: none;
    visibility: hidden;
    top: 0;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  form > .wrapper-elements {
    z-index: 0;
    width: 100%;
  }

  
}
